---
import "./Layout.css"
import { SEO } from "astro-seo";
---

<html lang="sv">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<SEO
		  	title="Seabird Digital | Modern webbdesign till ett bra pris nära Göteborg"
		  	description="Att se bra ut online ska inte kosta en förmögenhet. Vi är en webbyrå som skapar moderna hemsidor till ett bra pris"
		/>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400;1,700&family=Paytone+One&display=swap" rel="stylesheet">
	</head>
	<body class="overflow-x-hidden">
		<slot/>
	</body>
</html>