---
import { SEO } from "astro-seo";
import "./Layout.css";

type Props = {
    overlayHeader?: boolean;
};

const { overlayHeader = true } = Astro.props;
---

<html class="motion-safe:scroll-smooth" lang="sv">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="/assets/ico.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <SEO
            title="Seabird Digital | Modern webbdesign till ett bra pris nära Göteborg"
            description="Att se bra ut online ska inte kosta en förmögenhet. Vi är en webbyrå som skapar moderna hemsidor till ett bra pris"
            openGraph={{
                basic: {
                    image: "https://seabird.digital/assets/og.png",
                    title: "En webbyrå som skapar moderna sidor utan att skada din plånbok",
                    type: "website",
                },
                optional: {
                    locale: "sv-SE",
                    siteName: "Seabird Digital",
                    description:
                        "Att se bra ut online ska inte kosta en förmögenhet. Kontakta oss idag för att få eran nya makeover!",
                },
                image: {
                    alt: "Screenshot of Seabird Digitals website",
                    height: 630,
                    width: 1200,
                    type: "image/png",
                    url: "https://seabird.digital/assets/og.png",
                    secureUrl: "https://seabird.digital/assets/og.png",
                },
            }}
            twitter={{
                card: "summary_large_image",
            }}
        />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400;1,700&family=Paytone+One&family=Anonymous+Pro:ital,wght@0,400;0,700;1,400&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <slot />
    </body>
</html>
