---
import Blob1 from "../components/Blob1.svelte";
import Box1 from "../components/Box1.svelte";
import Button from "../components/reuseable/Button.svelte";
---

<div class="absolute w-full top-10 md:top-20 z-50">
    <div class="container flex justify-between items-center">
        <div class="font-specify text-3xl md:text-4xl font-thin relative">
            <div class="absolute -top-[125px] md:-top-[160px] 2xl:-top-[175px] -left-[96px] md:-left-[125px] -z-10">
                <Blob1 client:load />
            </div>
            
            seabird
        </div>
        
        <div class="">
            <ul class="flex justify-end items-center text-black text-xl font-mulish font-medium relative">
                <!-- <li class="cursor-pointer mx-2 border-b-4 border-transparent pt-1 hover:border-black hover:pt-[8px] hover:pb-1 duration-150">Tjänster</li>
                <li class="cursor-pointer mx-2 border-b-4 border-transparent pt-1 hover:border-black hover:pt-[8px] hover:pb-1 duration-150">Vilka vi är</li>
                <li class="cursor-pointer mx-2 border-b-4 border-transparent pt-1 hover:border-black hover:pt-[8px] hover:pb-1 duration-150">Kunskapsbank</li>

                <li class="cursor-pointer ml-16 mr-2 border-b-2 border-transparent pt-1 hover:border-black hover:pt-[6px] hover:pb-1 duration-150">Logga in</li> -->

                <Button class="bg-pink-500">Få en offert</Button>

                <Box1 client:load />
            </ul>
        </div>
    </div>
</div>