<div class="bg-sb-dark-blue">
    <div class="container flex justify-center py-2">
        <p class="text-center font-paytone text-white inline-block">
            Sida under konstruktion. <br>För kontakt maila &nbsp;<a class="underline hover:no-underline" href="mailto:hej@seabird.digital">hej@seabird.digital</a>
        </p>
    </div>
</div>