<div id="uc" class="flex flex-col items-center">
    <svg class="h-96" viewBox="0 0 800 500" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g transform="translate(179.87784004211426, 13.305374145507812)">
            <path class="blob" fill="#F87171">
                <animate
                    attributeName="d"
                    dur="10000ms"
                    repeatCount="indefinite"

                    values="
                    M408,319Q414,388,348,409Q282,430,209.5,437.5Q137,445,111.5,377.5Q86,310,89.5,251.5Q93,193,116,125Q139,57,210,65.5Q281,74,323,114Q365,154,383.5,202Q402,250,408,319Z;
                    
                    M445.5,327.5Q434,405,357.5,415Q281,425,212,430.5Q143,436,100.5,378Q58,320,89,261.5Q120,203,144.5,156Q169,109,228.5,72Q288,35,334,88Q380,141,418.5,195.5Q457,250,445.5,327.5Z;
                    
                    M460.5,322Q422,394,351,407Q280,420,233,390.5Q186,361,137.5,335Q89,309,74,245Q59,181,121,158Q183,135,236,82.5Q289,30,363.5,61Q438,92,468.5,171Q499,250,460.5,322Z;
                    
                    M414,326.5Q432,403,352.5,392.5Q273,382,208.5,407.5Q144,433,87,381.5Q30,330,23.5,247.5Q17,165,83.5,121.5Q150,78,218,63Q286,48,358,73.5Q430,99,413,174.5Q396,250,414,326.5Z;
                    
                    M408,319Q414,388,348,409Q282,430,209.5,437.5Q137,445,111.5,377.5Q86,310,89.5,251.5Q93,193,116,125Q139,57,210,65.5Q281,74,323,114Q365,154,383.5,202Q402,250,408,319Z;"
                />
            </path>
        </g>
    </svg>

    <h2 class="text-sb-black/75">Vår sida är under konstruktion</h2>
    <p class="text-sb-black/50">Vi jobbar med det för att ge dig den bästa upplevelsen!</p>
</div> 