---
import Layout from "../lib/Layout.astro";
import PriceCalculator from "../lib/components/PriceCalculator.svelte";
---

<Layout>
    <div class="flex flex-col justify-center items-center py-80 text-center">
        <div class="container py-24">
            <h1 class="mb-6">Få ett prisförslag på ditt projekt direkt</h1>
            <p class="">Intresserad av att skaffa en ny hamsida eller att bygga om din nyvarande sida? Använd våran web design priskalkylator för att få ett prisförslag för ditt nya web design projekt!</p>
        </div>

        <div class="bg-sb-blue lg:bg-transparent w-full">
            <div class="container flex items-center justify-center w-full lg:w-4/5 py-28">
                <div class="relative flex items-center w-full">
                    <div class="z-50 lg:p-32 w-full font-bold">
                        <h2 class="font-specify text-4xl sm:text-5xl mb-12">Priskalkylator</h2>
                        <PriceCalculator client:load />
                    </div>
                    <div class="z-40 hidden lg:block top-0 absolute border-4 border-black h-full w-full rotate-6" />
                    <div class="-z-10 hidden lg:block top-0 absolute bg-sb-blue h-full w-full -rotate-3" />
                </div>
            </div>
        </div>
    </div>
</Layout>