---
import Layout from "../lib/Layout.astro";
import PriceCalculator from "../lib/components/PriceCalculator.svelte";
---

<Layout>
    <div class="container flex flex-col justify-center items-center py-80 text-center">
        <h1 class="mb-6">Få ett prisförslag på ditt projekt direkt</h1>
        <p class="w-4/5">Intresserad av att skaffa en ny hamsida eller att bygga om din nyvarande sida? Använd våran web design priskalkylator för att få ett prisförslag för ditt nya web design projekt!</p>

        <div class="flex items-center justify-center w-full md:w-4/5 py-28">
            <div class="relative flex items-center w-full">
                <div class="z-50 p-32 w-full">
                    <h2 class="text-5xl mb-12">Priskalkylator 3000</h2>
                    <PriceCalculator client:load />
                </div>
                <div class="z-40 top-0 absolute border-4 border-black h-full w-full rotate-6" />
                <div class="-z-10 top-0 absolute bg-sb-blue h-full w-full -rotate-3" />
            </div>
        </div>
    </div>
</Layout>