---
import Layout from "../lib/Layout.astro";
import Form from "../lib/Sections/Contact/Form.astro";

---

<Layout>
    <div id="contact">
        <div>
            <span>Säg hej<span class="text-sb-orange">!</span></span>
            <h2>Kontakta oss så återkommer vi så snabbt som möjligt!</h2>
            <p>
                Vill du få ett prisförslag eller vill du bara säga hej? Vi är här för dig och kommer svara så snabbt vi kan.
                <br>Har du en snabb fråga och är otållig? Skicka oss ett SMS så svarar vi lite snabbare.
            </p>

            <div id="contact-info">
                <a href="tel:+46703048064">070 304 80 64</a>
                <a href="mailto:hej.seabird.digital">hej@seabird<span class="text-sb-orange">.</span>digital</a>
            </div>
        </div>
        <div>
            <Form />
        </div>
    </div>
</Layout>

<style>
    #contact {
        @apply
            container
            flex
            flex-col lg:flex-row
            gap-8
            pb-16
    }

    #contact > div {
        @apply
            flex
            flex-1
            flex-col
            justify-center
    }

    p {
        @apply
            py-2
    }

    #contact > div > span {
        @apply
            font-specify-ex
            text-xs
            tracking-normal
            uppercase
            opacity-75;
    }

    #contact-info {
        @apply
            mt-4
            flex
            lg:flex-col
            gap-4

            font-paytone
            text-gray-800
            text-lg
            leading-6
    }

    #contact-info > a {
        @apply
            font-mulish
            font-bold

            w-fit
            hover:pb-2
            hover:-mb-2
            border-b-[3px]
            border-sb-orange hover:border-transparent

            duration-150
    }
</style>