---
let year = new Date().getFullYear()
---

<footer>
    <div>
        Copyright &copy; Seabird Digital UF {year}
    </div>
</footer>

<style>
    footer {
        @apply
            bg-black
            text-white
    }

    footer > div {
        @apply
            flex
            justify-center
            text-center
            text-sm
            font-mulish
            py-4
    }
</style>