---
type Props = {
    overlay?: boolean
}
const { overlay = false } = Astro.props

let position = overlay ? "absolute" : "relative"
---

<script>
    import { goto } from "../../tools";

    document.getElementById("logo")?.addEventListener("click", () => goto("/"));
</script>

<header>
    <div class="container">
        <div>
            <button id="logo">seabird</button>
        </div>
    </div>
</header>

<style define:vars={{ position }}>
    header {
        @apply
            w-full
            py-16;

        position: var(--position);
    }

    .container {
        @apply
            flex
            justify-between
            items-center
            
            px-4;
    }

    #logo {
        @apply
            font-specify-ex
            text-2xl
            hover:cursor-pointer;
    }
</style>