---
import LinkButton from '../../components/Buttons/LinkButton.astro';

type Props = {
    overlay?: boolean
}
const { overlay = false } = Astro.props

let position = overlay ? "absolute" : "relative"
---

<script>
    import { goto } from "../../tools";

    document.getElementById("logo")?.addEventListener("click", () => goto("/"));

    document.getElementById("nav-services")?.addEventListener("click", () => goto("/tjanster"));
    document.getElementById("nav-about")?.addEventListener("click", () => goto("/om"));
    document.getElementById("nav-contact")?.addEventListener("click", () => goto("/kontakt"));
</script>

<header>
    <div class="container">
        <div>
            <img id="logo" src="/assets/logo.svg" alt="">
        </div>
        <nav>
            <LinkButton id="nav-services" reversed>Tjänster</LinkButton>
            <LinkButton id="nav-about" reversed>Om Oss</LinkButton>
            <LinkButton id="nav-contact" reversed>Kontakt</LinkButton>
        </nav>
    </div>
</header>

<style define:vars={{ position }}>
    header {
        @apply
            w-full
            py-16
            z-30;

        position: var(--position);
    }

    .container {
        @apply
            flex
            justify-between
            items-center
            
            px-4;
    }

    .container > * {
        @apply
            flex
            items-center;
    }

    nav {
        @apply
            text-lg
            gap-3
    }

    #logo {
        @apply
            h-6
            w-auto
            hover:cursor-pointer;
    }
</style>