<script>
    import { ToggleOverlay } from "../../components/Load"

    document.getElementById("contact-submit")?.addEventListener("click", () => ToggleOverlay())
</script>

<form action="/api/contact" method="post">
    <div>
        <label for="firstN">Förnamn<span class="required">*</span></label>
        <input required id="firstN" name="firstN" type="text" placeholder="Tony" autocomplete="given-name">
    </div>
    <div>
        <label for="lastN">Efternamn<span class="required">*</span></label>
        <input required id="lastN" name="lastN" placeholder="Stark" autocomplete="family-name" type="text">
    </div>
    <div>
        <label for="email">Email<span class="required">*</span></label>
        <input required id="email" name="email" type="email" placeholder="tony@starkindustries.com" autocomplete="email">
    </div>
    <div>
        <label for="website">Nuvarande sida</label>
        <input id="website" name="website" type="url" placeholder="www.starkindustries.com" autocomplete="url">
    </div>
    <div class="col-span-2">
        <label for="message">Meddelande<span class="required">*</span></label>
        <textarea required id="message" name="message" placeholder="Berätta lite om vad du vill göra" />
    </div>

    <button id="contact-submit" type="submit" class="col-span-2">Skicka</button>
</form>

<style>
    form {
        @apply
            grid
            grid-cols-2
            gap-4
    }

    form > div {
        @apply
            flex
            flex-col
    }

    input, textarea {
        @apply
            border-b-2
            border-gray-500 focus:border-sb-orange
            focus:outline-none

            p-2
            bg-black/5 focus:bg-sb-orange/5
            rounded-t-md

            duration-200
    }

    button {
        @apply
            !bg-sb-orange hover:!bg-transparent
            border-[2px]
            border-sb-orange

            text-white hover:text-sb-orange
            font-mulish
            font-bold

            py-3
            rounded-b-md
            hover:rounded-3xl

            duration-200
    }

    .required {
        @apply
            text-sb-orange
    }
</style>