---
import Blob2 from "../../components/Blob2.svelte";
import Box2 from "../../components/Box2.svelte";
---

<div class="px-8 flex flex-col justify-center items-center h-screen relative pt-16">
    <h1 class="font-paytone text-center text-3xl md:text-5xl 2xl:text-6xl mb-6">Vi skapar moderna sidor<br class="hidden md:block">utan att skada din plånbok</h1>
    <p class="font-mulish font-bold text-xl text-center mb-6">Att se bra ut online ska inte kosta en förmögenhet.<br class="hidden md:block"> Kontakta oss idag för att få eran nya makeover!</p>

    <Box2 client:load />

    <Blob2 client:load />
</div>