---

---

<script>
    import { goto } from "../../tools";

    document.getElementById("hero-cta")?.addEventListener("click", () => goto("/kontakt"));
</script>

<div id="hero" class="container">
    <div>
        <h1>Nittiotalet ringde<br>och ville ha sin sida tillbaka</h1>
        <p>För många sidor är fortfarande kvar i 90-talet. Vi skapar moderna hemsidor utan att skada din plånbok. </p>
        <button id="hero-cta">Kontakt</button>

        <img class="background-graphic stripes" src="/assets/stripes.svg" alt="">
    </div>
    <div>
        <img id="phone" src="/assets/phone.svg" alt="">
    </div>

    <img id="star1" class="background-graphic star" src="/assets/star.svg" alt="">
    <img id="bolt1" class="background-graphic bolt" src="/assets/bolt.svg" alt="">
    <img id="bolt2" class="background-graphic bolt" src="/assets/bolt.svg" alt="">
    <span id="rectangle1" class="background-graphic rectangle"/>
    <span id="circle1" class="background-graphic circle"/>
</div>


<style>
    #hero {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        padding-top: 12rem;
        padding-bottom: 12rem;
    }

    #phone {
        display: none;
    }

    #hero > div {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #hero p {
        padding-top: 1rem;
    }

    #hero button {
        margin-top: 1.5rem;
        width: fit-content;
        color: white;
        background-color: var(--sb-purple);
        font-family: 'Mulish', sans-serif;
        font-weight: 700;
        font-size: 1.25rem;

        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;

        box-shadow: 8px 8px black;
        rotate: -3deg;

        transition-duration: 150ms;
    }

    #hero button:hover {
        box-shadow: 0px 0px black;
        rotate: 0deg;
    }

    /* lg */
	@media (min-width: 1024px) {
		#hero {
            flex-direction: row;
		}

        #hero > div {
            align-items: baseline;
            text-align: left;
        }

		#phone {
            display: block;
		}
	}

    /* #region Background Graphics */
    .background-graphic {
        position: absolute;
        z-index: -1;
    }

    .stripes {
        bottom: 8rem;
        left: -10rem;
    }

    .star {
        width: 3rem;
    }

    #star1 {
        bottom: 7rem;
        right: 60%;
        rotate: -90deg;
    }

    .bolt {
        width: 1.5rem;
    }

    #bolt1 {
        top: 7rem;
        left: 35%;
        rotate: 97deg;
    }
    #bolt2 {
        bottom: 3rem;
        right: 20%;
        rotate: 10deg;
    }

    .rectangle {
        height: 3rem;
        width: 3rem;
    }
    .rectangle::before {
        content: " ";
        height: 100%;
        width: 100%;

        position: absolute;
        z-index: 1;
    }
    .rectangle::after {
        content: " ";
        height: 100%;
        width: 100%;

        top: 10px;
        left: 10px;
        background-color: black;
        position: absolute;
        z-index: -1;
    }

    #rectangle1 {
        rotate: 12deg;
        top: 3rem;
        left: -4rem;
    }
    #rectangle1::before {
        background-color: var(--sb-blue);
    }


    .circle {
        height: 3rem;
        width: 3rem;
        border-radius: 999px;
    }
    .circle::after {
        content: " ";
        height: 75%;
        width: 75%;

        top: 25px;
        border-width: 6px;
        border-color: black;
        border-radius: 999px;
        position: absolute;
        z-index: -1;
    }

    #circle1 {
        rotate: 32deg;
        top: 6rem;
        right: 5rem;
        background-color: var(--sb-pink);
    }
    /* #endregion */
</style>