---
import Blob2 from "../../components/Blob2.svelte";
import Box2 from "../../components/Box2.svelte";
import Button from "../../components/reuseable/Button.svelte";
import LinkButton from "../../components/reuseable/LinkButton.svelte";
---

<div class="px-8 flex flex-col justify-center items-center h-screen relative pt-16 overflow-hidden">
    <h1 class="font-paytone text-center text-3xl lg:text-5xl 2xl:text-6xl mb-6">Vi skapar moderna sidor<br class="hidden lg:block">utan att skada din plånbok</h1>
    <p class="text-center mb-8">Att se bra ut online ska inte kosta en förmögenhet.<br class="hidden lg:block"> Kontakta oss idag för att få eran nya makeover!</p>

    <div class="flex items-center gap-8 text-xl">
        <LinkButton href="#tjanster" class="-rotate-1">Se tjänster</LinkButton>
        <Button href="/calculator" flipRotation class="bg-pink-500">Få en offert</Button>
    </div>

    <Box2 client:load />

    <Blob2 client:load />
</div>