---

---

<script>
    import { goto } from "../../tools";

    document.getElementById("hero-cta")?.addEventListener("click", () => goto("/kontakt"));
</script>

<div id="hero" class="container">
    <div>
        <span>Webbyrå utanför Göteborg</span>
        <h1>Nittiotalet ringde<br>och ville ha sin sida tillbaka</h1>
        <p>För många sidor är fortfarande kvar i 90-talet. Vi skapar moderna hemsidor utan att skada din plånbok. </p>
        <button id="hero-cta">Kontakt</button>

        <img class="background-graphic stripes" src="/assets/stripes.svg" alt="">
    </div>
    <div>
        <img id="phone" src="/assets/phone.svg" alt="">
    </div>

    <img id="star1" class="background-graphic star" src="/assets/star.svg" alt="">
    <img id="bolt1" class="background-graphic bolt" src="/assets/bolt.svg" alt="">
    <img id="bolt2" class="background-graphic bolt" src="/assets/bolt.svg" alt="">
    <span id="rectangle1" class="background-graphic rectangle"/>
    <span id="circle1" class="background-graphic circle"/>
</div>


<style>
    #hero {
        @apply
            container

            relative
            flex
            flex-col-reverse lg:flex-row

            py-48;
    }

    #hero > div > span {
        @apply
            font-specify-ex
            text-xs
            tracking-normal
            uppercase
            opacity-90;
    }

    #phone {
        @apply
            hidden lg:block
    }

    #hero > div {
        @apply
            flex
            flex-1
            flex-col

            justify-center
            items-center lg:items-baseline
            text-center lg:text-left
    }

    #hero p {
        @apply
            pt-4
			text-base md:text-lg lg:text-xl;
    }

    #hero button {
        @apply
            mt-6
            w-fit
            bg-sb-purple

            text-white
            font-mulish
            font-bold
            text-xl

            py-4
            px-8

            shadow-hard
            -rotate-3 hover:rotate-0

            duration-150 hover:shadow-none;
    }

    /* #region Background Graphics */
    .background-graphic {
        @apply
            absolute
            -z-10;
    }

    .stripes {
        @apply
            bottom-32
            -left-40;
    }

    .star {
        @apply
            w-12;
    }

    #star1 {
        @apply
            bottom-28
            right-2/3
            -rotate-90;
    }

    .bolt {
        @apply
            w-6;
    }

    #bolt1 {
        @apply
            top-28
            left-1/3
            rotate-90;
    }
    #bolt2 {
        @apply
            bottom-12
            right-1/4
            rotate-12;
    }

    .rectangle {
        @apply
            h-12
            w-12;
    }
    .rectangle::before {
        content: " ";
        @apply
            h-full
            w-full

            absolute
            z-10
    }
    .rectangle::after {
        content: " ";
        @apply
            h-full
            w-full

            top-3
            left-3
            bg-black
            absolute
            z-0;
    }

    #rectangle1 {
        @apply
            rotate-12
            top-12
            -left-16;
    }
    #rectangle1::before {
        @apply
            bg-sb-blue;
    }


    .circle {
        @apply
            h-12
            w-12
            rounded-full;
    }
    .circle::after {
        content: " ";
        @apply
            h-3/4
            w-3/4

            top-6
            border-4
            border-black
            rounded-full

            absolute
            -z-10;
    }

    #circle1 {
        @apply
            rotate-45
            top-24
            right-24
            bg-sb-pink;
    }
    /* #endregion */
</style>