<script>
    import { goto } from "../../tools"

    document.getElementById("project-cta")?.addEventListener("click", () => goto("https://davidsons.se"))
</script>

<div id="project">
    <div>
        <div>
            <img src="/assets/davidsons.svg" alt="">
        </div>
        <div>
            <span>Projekt</span>
            <h2>Davidsons Gröna Fingrar AB</h2>
            <p>Vårat senaste projekt var en ny hemsida för det nystartade hydroponikföretaget Davidsons i Fritsla.<br>Som ett nystartat företag var budgeten tight men vi levererade ändå en simpel, men modern hemsida så att de kunde fokusera på annat i deras företag, medans de fortfarande fick in trafik från deras hemsida</p>
            <button id="project-cta">Besök</button>
        </div>
    </div>
</div>

<style>
    #project {
        @apply
            bg-sb-yellow/5
    }
    #project > div {
        @apply
            container

            relative
            flex
            flex-col lg:flex-row

            py-20;
    }

    #project > div > div > span {
        @apply
            font-specify-ex
            text-xs
            tracking-normal
            uppercase
            opacity-75;
    }

    #phone {
        @apply
            hidden lg:block
    }

    #project > div > div {
        @apply
            flex
            flex-1
            flex-col

            justify-center
            items-center lg:items-baseline
            text-center lg:text-left
    }

    #project > div p {
        @apply
            pt-4
    }

    #project > div button {
        @apply
            mt-6
            w-fit
            bg-sb-green

            text-white
            font-mulish
            font-bold

            py-3
            px-5

            shadow-hard
            -rotate-3 hover:rotate-0

            duration-150 hover:shadow-none;
    }
</style>