<div class="bg-black text-white">
    <div class="container py-24 flex flex-col items-center ">
        <h2 class="font-paytone text-4xl mb-6 text-center md:text-left">Tjänster</h2>
        <div class="w-full grid grid-cols-3 gap-4">
            <div class="flex flex-col items-center text-center">
                <h3 class="mb-3 text-2xl">Webbdesign</h3>
                <p class="font-mulish text-xl">Borta är tiderna med färgglatt animerad text som blinkar för att få din uppmärksamhet. Vi skapar moderna hemsidor för att få dig att stå ut de flesta av dina konkurrenter</p>
            </div>
            <div class="flex flex-col items-center text-center">
                <h3 class="mb-3 text-2xl">Webbhotell</h3>
                <p class="font-mulish text-xl">Använd vårat webbhotell och få din hemsida uppladdat på <i>Edge-nätverket</i>, vilket gör att din sida alltid laddas snabbt, vart du än är!</p>
            </div>
            <div class="flex flex-col items-center text-center">
                <h3 class="mb-3 text-2xl">SEO-optimisering</h3>
                <p class="font-mulish text-xl">Att betala tusentals dollar för en webbplats som inte rankas i Google är som att köpa en skyltannons längst ner i Marianergraven. Vi hjälper dig att få Google att älska dig!</p>
            </div>
        </div>
    </div>
</div>