---
import { Icon } from 'astro-icon'
---

<div id="tjanster" class="bg-sb-dark-blue text-white">
    <div class="container py-16 w-full grid grid-rows-3 lg:grid-rows-none grid-cols-none lg:grid-cols-3 gap-8">
        <div class="flex flex-col items-center text-center">
            <Icon class="h-14 mb-2" name="clarity:computer-line" />
            <h3 class="mb-3 text-2xl">Webbdesign</h3>
            <p class="font-mulish text-xl">Borta är tiderna med färgglatt animerad text som blinkar för att få din uppmärksamhet. Vi skapar moderna hemsidor för att få dig att stå ut de flesta av dina konkurrenter</p>
        </div>
        <div class="flex flex-col items-center text-center">
            <Icon class="h-14 mb-2" name="clarity:network-globe-line" />
            <h3 class="mb-3 text-2xl">Webbhotell</h3>
            <p class="font-mulish text-xl">Använd vårat webbhotell och få din hemsida uppladdat på <i>Edge-nätverket</i>, vilket gör att din sida alltid laddas snabbt, vart du än är!</p>
        </div>
        <div class="flex flex-col items-center text-center">
            <Icon class="h-14 mb-2" name="clarity:search-line" />
            <h3 class="mb-3 text-2xl">SEO-optimisering</h3>
            <p class="font-mulish text-xl">Att betala tusentals dollar för en webbplats som inte rankas i Google är som att köpa en skyltannons längst ner i Marianergraven. Vi hjälper dig att få Google att älska dig!</p>
        </div>
    </div>
</div>