<div id="services" class="container">
    <div>
        <h3>Webbdesign</h3>
        <p>Din hemsida är som ditt digitala skyltfönster. Låt oss se till så att du ser bra ut online!</p>
    </div>
    <div>
        <h3>Sökoptimering</h3>
        <p>Att spendera tusentals kronor på en sida som inte rankar Google är som att köpa en skyltannons på botten av Marianas Trench. Vi vet hur man får Google att älska din sida</p>
    </div>
    <div>
        <h3>Logotypdesign</h3>
        <p>En bra logga ska representera ditt varumärke och vad du står för. Låt oss se till så att er logga förmedlar det du vill!</p>
    </div>
</div>

<style>
    #services {
        @apply
            flex
            flex-col lg:flex-row
            gap-8
            pb-20;
    }

    #services > div {
        @apply
            flex
            flex-1
            flex-col
            items-center
            text-center;
    }

    h3 {
        @apply
            opacity-75
            mb-4;
    }

    p {
        @apply
            opacity-75
            text-base
    }
</style>